$main_color: #112233;
$text-color: #DDDDDD;
$text-color-dark: #262626;
$text-color-active: #FFFFFF; 

body {
    background: url('Background.png') fixed;
    background-size: cover;
    background-position: center;
}
.ui.menu {
    background-color: $main_color;

    .item {
        color: $text-color;
    }

    .item.active {
        color: $text-color-active;
    }

    a.item:hover, a.item.active:hover {
        color: $text-color-active;
    }
}

.h1 {
    color: $main_color;
}
    
.Spotify-item.ui.card {
    display: none;
}

.Netflix-item.ui.card {
    display: none;
}

.Youtube-item.ui.card {
    display: none;
}

fieldset {
    border: none;
}

.padding-right {
    padding-right: 2em;
}

iframe {
    width: 100%;
    max-width: 500px;
}
.ui.card {
    width: 100%;
    max-width: 250px;
}

/*@media (min-width: 600px) {
    .ui.segment{
        margin: 15px;
    }
    .ui.card {
        margin: 15px !important;
    }
}*/

@media (max-width: 595px) {
    .ui.card, .ui.cards > .card {
        margin-top: 7px;
        width: 100%;
    }
}